@model Petshop

@{
    ViewData["Title"] = @Model.Nome;
}

<h1>@Model.Nome</h1>
<table class="table">
    <thead>
    <tr>
        <th>
            Nome
        </th>

        <th>
            Descrição
        </th>
        <th>
            Espécie
        </th>
        <th>
            Raça
        </th>
        <th>
            Sexo
        </th>
        <th>
            Data de Nascimento
        </th>
        <th>
            Porte
        </th>
        <th>
            Peso
        </th>
        <th>
            Imagem
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var animal in Model.Animais)
    {
        <tr>
            <td>
                @animal.Nome
            </td>

            <td>
                @animal.Descricao
            </td>
            
            <td>
                @animal.Especie
            </td>
            
            <td>
                @animal.Raca
            </td>
            
            <td>
                @animal.Sexo
            </td>
            
            <td>
                @animal.DataNascimento
            </td>
            
            <td>
                @animal.Porte
            </td>
            
            <td>
                @animal.Peso
            </td>
            
            <td>
                @animal.ImgPath
            </td>
        </tr>
    }
    
    </tbody>
</table>